webapps/
target/
project/target/
core/*/src/main/java/wcs/core/tag/
core/*/src/main/java/agilesites/mappings/
webapps/
.cache
.classpath
.project
.settings/
.metadata
*.class
*.log
*.bak
*.old
.history
.DS_Store
report.xml
.idea/
*.iml
target.txt.*
